<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../asset/image/logo.jpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet"
    href="../asset/css/styles.css">
   

</head>
<body>
    <div class="header"> 
         <div  style=" width: 30%;margin: 0 auto;">
            <img src="../asset/image/logo.jpeg" style=" margin: 10px auto; width:100% ; max-height:200px"> 
        </div>
          <h1 class="header-top">HINDU MANDAL OF RWANDA</h1>
        <hr style="margin-left: 10%; margin-right: 10%;">

    <header>
        <nav class="fixed">
            <h1 style="text-align: center; color: rgb(122, 110, 98);">
                <a href="../index.php">HOMEPAGE</a>
            
                <a href="./events.php">EVENTS</a>
            
                <a href="./about.html">ABOUT US</a>
            
                <a href="support.html">SUPPORT US</a>
            
                <a href="contact.html"style="color:white">CONTACT US</a>
            </h1><br>  
            </nav> 
        
     </header>
    </div>
</div>
<h2 class="event"><div class="event-holder"> CONTACT US</div></h2> 
<div>
    <div class="contact-container">

        <div class="contact-item">
            <h2>Information</h2> 
            <h3 >E-mail</h3> 
            <p>Info@hindutemple.org.rw</p>
            <h3 >Phone</h3> 
            <p>+250788308833</p> 
            <h3 >Address</h3> 
            <p>Rwanda-Kigali KK30St</p>            
            
        </div> 
       
        

    
       
            
    <div class="ab-map">
    
    <!--<h3>Location on map</h3>-->
        <!--<pre>-->
            
        <!--    <iframe src="//maps.google.com/maps?q=-1.973691,30.081433&z=15&output=embed"></iframe >-->
        <!--</pre>-->
        <div style="width: 70%; margin: 20px auto; text-align:left;">
            <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Full Name</label>
          <input type="email" class="form-control"  aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Phone number</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
        
        </div>
        <label>Message</label>
        <div class="form-floating">
            
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            
          </div>
          <div>
              <button type="button" class="btn btn-primary">SEND</button>
          </div>
          
       
      </form>
      </div>
            

    </div>

</div>
<!--<div style="width: 70%; margin: 20px auto;">-->
<!--    <form>-->
<!--        <div class="mb-3">-->
<!--          <label for="exampleInputEmail1" class="form-label">Full Name</label>-->
<!--          <input type="email" class="form-control"  aria-describedby="emailHelp">-->
          
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--          </div>-->
<!--        <div class="mb-3">-->
<!--        <label for="exampleInputEmail1" class="form-label">Phone number</label>-->
<!--        <input type="text" class="form-control"  aria-describedby="emailHelp">-->
        
<!--        </div>-->
<!--        <label>Comment</label>-->
<!--        <div class="form-floating">-->
            
<!--            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>-->
            
<!--          </div>-->
       
<!--      </form>-->
    
<!--</div>-->

<footer class="footer">
    <div class="footer-holder">
    Copyright 2021 HINDU TEMPLE OF RWANDA
</div>
</body>
</html>