<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="icon" href="../asset/image/logo.jpeg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>About Us</title>
    <link rel="stylesheet"
   href="../asset/css/styles.css">

  

</head>
<body>
    <div class="header">
    <div class="top-header">
        <div  class="logo">
            <div class="logo-base">
                <img src="../asset/image/logo_1.png" > 
            </div>
            <br>
            <div style="width:100%; color:white">
                <b>Info@hindutemple.org.rw</b>
                <br>
                <b>Rwanda-Kigali KK30St</b>
            </div>
        </div>
        <div class="header-title">   
            <h1 >HINDU MANDAL OF RWANDA</h1>
        </div>
        <div class="head-time">
            <span>
                   <b> Temple Hours:</b><br>
                   <b> Mon to Fri:</b> 6 am to 12 pm, 5 - 8.00 pm<br>
                   <b>Sat and Sun:</b> 9 am to 8.30 pm.
            </span>
            </div>
            </div>
         
        <hr style="width:100%">   
        <header>
            <nav class="fixed">
           <nav class="fixed">
            <h1 style="text-align: center; color: rgb(122, 110, 98);">
                <a href="../index.php">HOMEPAGE</a>
            
                <a href="./events.php" >EVENTS</a>
            
                <a href="./about.html"  >ABOUT US</a>
            
                <a href="support.html" style="color:white">SUPPORT US</a>
            
                <a href="contact.html">CONTACT US</a>
            </h1><br>  
            </nav> 
                
                
            </nav> 
        </header>
    </div>
    <h2 class="event"><div class="event-holder"> SUPPORT US</div></h2>
    <div class="about-card">
        <div class="support-card-row">
             <p>
                 <b>
                   Donate
                 </b>
             </p>
             <p>
                 <b>
                    Hinduism
                 </b>
             </p>
             <p>
                
               
                Donate here:-
                We don't heal in isolation, but in community…
                To keep a lamp burning we have to keep putting oil in it.
                <br>
                Hindu Mandal of Rwanda: 
                <b>BK Account 00040-00004877-60 - Rwf</b>
                <br>
                Hindu Mandal of Rwanda:
                <b>BK Account 00040-06936790-68 - USD</b>
                
             </p>
           
        </div>
     
    </div>
 
    <footer class="footer">
        <div class="footer-holder">
        Copyright 2021 HINDU TEMPLE OF RWANDA
    </div>
    </footer>
    
    
</body>
</html>